* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --main-color: aqua;
}

body {
    background: rgb(63,63,63);
    background: linear-gradient(180deg, rgba(63,63,63,1) 0%, rgba(8,8,8,1) 100%);
    height: 100%;
    width: 100%;
}

nav {
    width:100%;
    height:70px;
    background-color: #1c1c1c;
    font-size:20px;
    font-weight:bold;
    text-align:center;
    line-height:100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

nav a {
    color: #fff;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.headerLogo {
    width: 30px;
    height: 30px;
    margin-left: 60px;
}   

.logoName {
    margin-left: 10px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}  

.home, .produtos, .recursos, .sobre, .trabalhe {
    text-decoration: none;
    color: #fff;
    margin-left: 30px;
    padding: 6px;
    font-size: 15px;
}

.menu :hover {
    color: rgb(255, 255, 255);
    transition: 0.5s;
    opacity: 0.7;
    border-radius: 40px;
    background-color: rgba(0, 255, 255, 0.275);
}

.botoes {
    margin-right: 60px;
    background-color: rgba(0, 255, 255, 0.275);
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    border-radius: 40px;
    padding-left: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.botoes a {
    margin-left: 5px;
}

.botaoEntrar {
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}   

.botaoCadastrar {
    color: rgb(0, 0, 0);
    background-color: var(--main-color);
    border-radius: 10px;
    margin-left: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, #CCC, transparent);  
}

.cabecalho {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.sobre {
    text-align: center;
    max-width: 650px;
    color: #fff;
    margin: 20px;
}

.sobre span {
    color: var(--main-color);
    font-size: 20px;
}

.sobre h1 {
    margin-top: 10px;
}

.sobre p {
    font-size: 15px;
    text-align: justify;
    margin: 40px;
}

.sobre hr {
    margin-top: 60px;
}

section {
    margin: 70px;
}

.metricas {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.metricas div {
    max-width: 200px;
    margin-left: 50px;
    margin-right: 50px;
}

.metricas h1 {
    font-size: 60px;
    font-weight: 800;
    text-align: center;
    color: var(--main-color);
}

.metricas h2 {
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    color: #fff;
}

.metricas p {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
    text-align: justify;
    color: #fff;
}

.vagas_abertas {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.vagas_texto {
    text-align: center;
    color: #fff;
}

.vagas_texto span {
    color: var(--main-color);
    font-size: 20px;
    background-color: #3f3f3f;
    border-radius: 5px;
    padding: 5px;
}

.vagas_texto h1 {
    margin-top: 10px;
}

.vagas_texto p {
    font-size: 15px;
    text-align: center;
    font-weight: 300;
}

.vagas_texto img {
    width: 70%;
    box-shadow: rgb(68, 68, 68) 0px 0px 20px;
    margin-top: 40px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.vagas {
    color: #fff;
    text-align: left;
    font-weight: 800;
}

.categoria {
    margin-top: 40px;
    margin-bottom: 40px;
    color: var(--main-color);
}

.titulo_vaga {
    text-indent: 20px;
}

.informacoes {
    margin-top: 20px;
    margin-bottom: 70px;
    font-weight: 300;
    text-indent: 20px;
}

.divisoria-depoimentos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.divisoria {
    text-align: center;
    max-width: 650px;
    color: var(--main-color);
    font-size: 20px;
    margin-bottom: 20px;
}

.divisoria hr {
    margin-bottom: 100px;
}

.secao-depoimentos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 0;
}

.depoimento {
    color: #fff;
    text-align: center;
    width: 60%;
}

.depoimento h1 {
    margin: 20px;
}

.depoimento img {
    width: 70px;
}

.depoimento-nome {
    margin-top: 10px;
    font-weight: 500;
}

.depoimento-cargo {
    font-weight: 300;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.363);
    margin-bottom: 100px;
}

.footer {
    position: absolute;
    background-color: #000000;
    height: 20px;
    width: 100%;
}
